.modalrpFrst{
  position: absolute;
  display: flex;
  width: auto;
  height: auto;
  margin : 0, 15px; /* no ned auto, finaly....*/
  flex-direction: column;
}

.modalrpSd {
  display: flex;
  align-items: center;
  flex-direction: column;
}
/*
.modalrp__text {

}*/
.modalrp__close{
  position: absolute;
}

/* no need for this project, but maybe for an another...
.modalrp__button {
  color: #93AD18;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
*/

/* for the draggable compenent, required */
.drag-box {
  padding: 30px;
  background: #ccc;
  width: 100px;
  cursor: move;
}